# ASSOCIATION RULES


The Objective of this assignment is to introduce students to rule mining techniques, particularly focusing on market basket analysis and provide hands on experience.
Dataset:
Use the Online retail dataset to apply the association rules.
Data Preprocessing:
Pre-process the dataset to ensure it is suitable for Association rules, this may include handling missing values, removing duplicates, and converting the data to appropriate format.  
Association Rule Mining:
•	Implement an Apriori algorithm using tool like python with libraries such as Pandas and Mlxtend etc.
•	 Apply association rule mining techniques to the pre-processed dataset to discover interesting relationships between products purchased together.
•	Set appropriate threshold for support, confidence and lift to extract meaning full rules.
Analysis and Interpretation:
•	Analyse the generated rules to identify interesting patterns and relationships between the products.
•	Interpret the results and provide insights into customer purchasing behaviour based on the discovered rules.
Interview Questions:
1.	What is lift and why is it important in Association rules?
2.	What is support and Confidence. How do you calculate them?
3.	What are some limitations or challenges of Association rules mining?

# Data Preprocessing:
Pre-process the dataset to ensure it is suitable for Association rules, this may include handling missing values, removing duplicates, and converting the data to appropriate format.

In [1]:
import pandas as pd
import numpy as np

#the dataset given a unstructured data in xlxs sheet with comma seperated.BEfore importing 
#i have done the transformation like seperated the data based on commas and created a table

In [2]:
#reading the excel file which has no header/columns names
df=pd.read_excel("Online retail.xlsx",header=None)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#finding the duplicates in the data

df[df.duplicated()]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
34,cookies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,spaghetti,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,spaghetti,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,turkey,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,french fries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7491,herb & pepper,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7492,chocolate,escalope,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7495,pancakes,light mayo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#I cant say they are duplicates because the transcation may repeat if we have columns such as date,transcation id,customer id or other unique identifier 
#i can say they are duplicated here we dont contains such columns so i am not removing the duplicates

In [5]:
#data transformation

#df=df.get_dummies(df,dtype='int')
df=pd.get_dummies(df).astype(int)
df

,0_almonds,0_antioxydant juice,0_asparagus,0_avocado,0_babies food,0_bacon,0_barbecue sauce,0_black tea,0_blueberries,0_body spray,...,16_antioxydant juice,16_french fries,16_frozen smoothie,17_frozen smoothie,17_protein bar,17_spinach,18_cereals,18_mayonnaise,18_spinach,19_olive oil
0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,1,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7500,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
#importing the warnings library to ignore the warnings

import warnings
warnings.filterwarnings('ignore')

# Method 1

#### using MLXTEND library mlxtend.frequent_patterns

# Association Rule Mining:
•	Implement an Apriori algorithm using tool like python with libraries such as Pandas and Mlxtend etc.
•	 Apply association rule mining techniques to the pre-processed dataset to discover interesting relationships between products purchased together.
•	Set appropriate threshold for support, confidence and lift to extract meaning full rules.

In [7]:
#checking the shape of data
df.shape

(7501, 1269)

In [8]:
#to find the frequent itemsets in dataset

from mlxtend.frequent_patterns import apriori,association_rules

frequent_items=apriori(df,min_support=0.01,use_colnames=True)  #based on the value of min_support the number of rules will depend
frequent_items             #the min_support  ensures that only item sets appering  in atleat 0.4% of transcation are consider

C:\Users\moham\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support                         itemsets
0   0.076790                      (0_burgers)
1   0.013065                         (0_cake)
2   0.052126                    (0_chocolate)
3   0.035995                      (0_cookies)
4   0.037195                         (0_eggs)
..       ...                              ...
84  0.010265  (1_frozen vegetables, 0_shrimp)
85  0.013332   (1_mineral water, 0_spaghetti)
86  0.011865     (1_ground beef, 2_spaghetti)
87  0.017731   (1_spaghetti, 2_mineral water)
88  0.012798   (2_spaghetti, 3_mineral water)

[89 rows x 2 columns]

In [9]:
#finding the assocaion rules 
                         #frequent items found in previous
rules=association_rules(frequent_items,metric='lift',min_threshold=4,num_itemsets=20)
                                     #we are using the lift ratio  min threshold=1 i.e lift ratio

In [10]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(1_frozen vegetables),(0_shrimp),0.031196,0.043328,0.010265,0.329060,7.594701,1.0,0.008914,1.425868,0.896290,0.159751,0.298673,0.282991
1,(0_shrimp),(1_frozen vegetables),0.043328,0.031196,0.010265,0.236923,7.594701,1.0,0.008914,1.269602,0.907656,0.159751,0.212352,0.282991
2,(1_mineral water),(0_spaghetti),0.064525,0.047194,0.013332,0.206612,4.377947,1.0,0.010286,1.200933,0.824803,0.135501,0.167314,0.244549
3,(0_spaghetti),(1_mineral water),0.047194,0.064525,0.013332,0.282486,4.377947,1.0,0.010286,1.303773,0.809800,0.135501,0.232995,0.244549
4,(1_ground beef),(2_spaghetti),0.038795,0.037195,0.011865,0.305842,8.222653,1.0,0.010422,1.387011,0.913837,0.185031,0.279025,0.312419
5,(2_spaghetti),(1_ground beef),0.037195,0.038795,0.011865,0.318996,8.222653,1.0,0.010422,1.411454,0.912318,0.185031,0.291511,0.312419
6,(1_spaghetti),(2_mineral water),0.054793,0.049993,0.017731,0.323601,6.472882,1.0,0.014992,1.404506,0.894523,0.203675,0.288006,0.339134
7,(2_mineral water),(1_spaghetti),0.049993,0.054793,0.017731,0.354667,6.472882,1.0,0.014992,1.464681,0.890004,0.203675,0.317257,0.339134
8,(2_spaghetti),(3_mineral water),0.037195,0.026796,0.012798,0.344086,12.840743,1.0,0.011802,1.483737,0.957746,0.250000,0.326026,0.410849
9,(3_mineral water),(2_spaghetti),0.026796,0.037195,0.012798,0.477612,12.840743,1.0,0.011802,1.843084,0.947513,0.250000,0.457431,0.410849

In [11]:
#shorting the lift values in decending order

rules['lift'].sort_values(ascending=False)

9    12.840743
8    12.840743
4     8.222653
5     8.222653
0     7.594701
1     7.594701
7     6.472882
6     6.472882
2     4.377947
3     4.377947
Name: lift, dtype: float64

In [12]:
#from the above lift values we can say that

#12.84 → Very strong positive association. The presence of the antecedent makes the consequent 12.84 times more likely than random chance. This suggests a highly significant relationship.
# 8.22 → Strong association, meaning the items are frequently purchased or appear together much more than expected.
# 7.59 → Still a strong lift, showing a meaningful connection between items.
# 6.47 → Moderate to strong association, indicating a clear pattern but slightly less impactful.
#4.37 → Moderate association, meaning the items are 4.37 times more likely to appear together than by random occurrence.

In [13]:
#antecedents=customer come to buy
#consequence=customer who als buy these with antecedent
#support=probabilty of buying
#confidence=Condition probability to buy
#lift=calculates the "strength of rule" if {lift>1=positive association},{lift value=1 no relation},{lift value< 1 negative association}
#support measures how frequently an itemset appers in a dataset how much higher- (>0.05 or 5%)  the value means the itemset is commonly occured
#confidence measures how often item B appers in transcation that contains item A - Confidence > 50% is generally considers strong
#if support is low(0.01) and confidence is high(0.50)then it is a fraud transcation

In [14]:
#sorting the dataset on the lift values as decending

rules.sort_values('lift',ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
9,(3_mineral water),(2_spaghetti),0.026796,0.037195,0.012798,0.477612,12.840743,1.0,0.011802,1.843084,0.947513,0.250000,0.457431,0.410849
8,(2_spaghetti),(3_mineral water),0.037195,0.026796,0.012798,0.344086,12.840743,1.0,0.011802,1.483737,0.957746,0.250000,0.326026,0.410849
4,(1_ground beef),(2_spaghetti),0.038795,0.037195,0.011865,0.305842,8.222653,1.0,0.010422,1.387011,0.913837,0.185031,0.279025,0.312419
5,(2_spaghetti),(1_ground beef),0.037195,0.038795,0.011865,0.318996,8.222653,1.0,0.010422,1.411454,0.912318,0.185031,0.291511,0.312419
0,(1_frozen vegetables),(0_shrimp),0.031196,0.043328,0.010265,0.329060,7.594701,1.0,0.008914,1.425868,0.896290,0.159751,0.298673,0.282991
1,(0_shrimp),(1_frozen vegetables),0.043328,0.031196,0.010265,0.236923,7.594701,1.0,0.008914,1.269602,0.907656,0.159751,0.212352,0.282991
7,(2_mineral water),(1_spaghetti),0.049993,0.054793,0.017731,0.354667,6.472882,1.0,0.014992,1.464681,0.890004,0.203675,0.317257,0.339134
6,(1_spaghetti),(2_mineral water),0.054793,0.049993,0.017731,0.323601,6.472882,1.0,0.014992,1.404506,0.894523,0.203675,0.288006,0.339134
2,(1_mineral water),(0_spaghetti),0.064525,0.047194,0.013332,0.206612,4.377947,1.0,0.010286,1.200933,0.824803,0.135501,0.167314,0.244549
3,(0_spaghetti),(1_mineral water),0.047194,0.064525,0.013332,0.282486,4.377947,1.0,0.010286,1.303773,0.809800,0.135501,0.232995,0.244549

In [15]:
#With "min_support=0.01",and "min_lift=4" we are forming 9 strong association rules

# Analysis and Interpretation:
•	Analyse the generated rules to identify interesting patterns and relationships between the products.
•	Interpret the results and provide insights into customer purchasing behaviour based on the discovered rules.

In [16]:
#from the above Association Rules we can conclude that

#1==>if a person is buying 3 mineral water he is also buying 2 Spaghetti with a hight lift ratio of 12.8

#2==>a person who is come to buy 1 ground beef he is also buying  2 spaghetti so shop keeper showld maintain the combined stock of them

#3==>a person how is coming to buy 0 shrimp who is also buying the forzen vegetables because they are related to each other

#this are some strong association rules We can find from the data

# Method 2 using apyori library

In [17]:
#without data transformation

df_1=pd.read_excel("Online retail.xlsx",header=None)
df_1

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
#apriori algorithm  will generate the association rule whenthe data is in list form

trans=[]
for i in range(0,7501):  # for rows there are 7501 rows 
    trans.append([str(df_1.values[i,j]) for j in range(0,20)])  #j loop is for columns

In [19]:
print(trans[0])

['shrimp', 'almonds', 'avocado', 'vegetables mix', 'green grapes', 'whole weat flour', 'yams', 'cottage cheese', 'energy drink', 'tomato juice', 'low fat yogurt', 'green tea', 'honey', 'salad', 'mineral water', 'salmon', 'antioxydant juice', 'frozen smoothie', 'spinach', 'olive oil']

In [20]:
from apyori import apriori

results=apriori(transactions=trans,  #list of data
                min_support=0.01,
                min_confidence=0.2,
                min_lift=3,
                min_length=2,       #conbination of transcation
                max_length=3)

results  # generate a generator in opps

In [21]:
#converting to list

report=list(results)
report

[RelationRecord(items=frozenset({'herb & pepper', 'ground beef'}), support=0.015997866951073192, ordered_statistics=[OrderedStatistic(items_base=frozenset({'herb & pepper'}), items_add=frozenset({'ground beef'}), confidence=0.3234501347708895, lift=3.2919938411349285)]),
 RelationRecord(items=frozenset({'herb & pepper', 'nan', 'ground beef'}), support=0.015997866951073192, ordered_statistics=[OrderedStatistic(items_base=frozenset({'herb & pepper'}), items_add=frozenset({'nan', 'ground beef'}), confidence=0.3234501347708895, lift=3.2919938411349285), OrderedStatistic(items_base=frozenset({'herb & pepper', 'nan'}), items_add=frozenset({'ground beef'}), confidence=0.3234501347708895, lift=3.2919938411349285)])]

In [22]:
# Extracting association rules in a structured format
data = []

for item in report:
    support = item.support
    for stat in item.ordered_statistics:
        base = tuple(stat.items_base)
        additem = tuple(stat.items_add)
        confidence = stat.confidence
        lift = stat.lift

        data.append([base, additem, support, confidence, lift])

# Creating the DataFrame
df = pd.DataFrame(data, columns=['Base Item/Anticend', 'Add Item/consequence', 'Support', 'Confidence', 'Lift'])

# Display the DataFrame
print(df)

     Base Item/Anticend Add Item/consequence   Support  Confidence      Lift
0      (herb & pepper,)       (ground beef,)  0.015998     0.32345  3.291994
1      (herb & pepper,)   (nan, ground beef)  0.015998     0.32345  3.291994
2  (herb & pepper, nan)       (ground beef,)  0.015998     0.32345  3.291994

In [23]:
#these are the association rules with apyori library

#with parameters min_support=0.01, min_confidence=0.2,min_lift=3, min_length=2, max_length=3)

# Interview Questions:

1.	What is lift and why is it important in Association rules?
2.	What is support and Confidence. How do you calculate them?
3.	What are some limitations or challenges of Association rules mining?

In [24]:
#1 Ans:-lift is a measure used in Association rule in Apriori algorithms.lift ratio is {support/support(x)*support(y)} is the formula.Which is used to 
#check the strength of realtionship between two items compared to their excepted independent.
#higher the lift more likely chances to buy that item.
#if lift=1 no relation
#if lift<1 then negative relation

In [25]:
#2-Ans:-Support indicates the frequency of an item in the dataset.
          #support={frequency(a+b)/total}  or we can say the probabilty of a and  b

#Confidence measures the likelihood of Y occurring given that X has already occurred(conditional probabilty).
         #confidence={frequency(x+y)/frequency(a)} or we can say conditional probability

#Support ensures that rules are frequent and relevant.
#Confidence ensures that rules are reliable and meaningful in predictions.

In [26]:
# 3:Ans:-1.larger data required to form best association rule
#        2.choosing the best Parameters are difficult
#        3.hard to find the best rule from the set of rules